body {
  cursor: help;
  letter-spacing: 1px;
  text-shadow: 4px 4px 10px #000000;
  color: black;
}

p {
  cursor: help;
  letter-spacing: 1px;
  text-shadow: 4px 4px 10px #000000;
  color: black;
}
